# This file was created by bootstrap-vz.
# See https://github.com/andsens/bootstrap-vz/blob/master/LICENSE for
# legal notices and disclaimers.

[Unit]
Description=Expand the root partition and filesystem on boot
After=local-fs.target
Wants=local-fs.target

[Service]
ExecStart=/usr/local/sbin/expand-root DEVICE PARTITION FILESYSTEM
Type=oneshot

[Install]
WantedBy=multi-user.target
